# Text Methods in Pandas


    Ques: 
            r = lambda q: q * 2
            s = lambda q: q * 3
            x = 2
            x = r(x)
            x = s(x)
            x = r(x)
            print (x)
        
        a. 12
        b. 15
        c. 24
        d. 30

In [1]:
mystr = "hello"

In [4]:
print(mystr.capitalize())
print(mystr.upper())

Hello
HELLO

In [5]:
'10'

'10'

In [6]:
mystr.isdigit()

False

In [7]:
email = "hello@email.com"

In [9]:
email.split('@')

['hello', 'email.com']

## Pandas & Text Data

In [10]:
import pandas as pd
import numpy as np

In [11]:
names = pd.Series(['andrew','bobo','claire','david','4'])

In [12]:
names

0    andrew
1      bobo
2    claire
3     david
4         4
dtype: object

In [13]:
names.str.capitalize()

0    Andrew
1      Bobo
2    Claire
3     David
4         4
dtype: object

In [14]:
names.str.isdigit()

0    False
1    False
2    False
3    False
4     True
dtype: bool

In [15]:
tech_fin = ['GOOG,APPL,AMZN','JPM,BAC,GS']

In [16]:
len(tech_fin)

2

In [17]:
t1 = pd.Series(tech_fin)

In [18]:
t1

0    GOOG,APPL,AMZN
1        JPM,BAC,GS
dtype: object

In [21]:
t1.str.split(',')[0][0]

'GOOG'

In [22]:
t1.str.split(',').str[0]

0    GOOG
1     JPM
dtype: object

In [23]:
t1.str.split(',', expand=True)

      0     1     2
0  GOOG  APPL  AMZN
1   JPM   BAC    GS